<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Papa's Pizza</title>

    <!-- Link to JavaScript -->
    <script src="js/pizza.js" defer></script>

    <!-- Favicon -->
    <link rel="icon" href="images/pizza-icon.jpg">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="styles/pizza-styles.css">
</head>
<body>
    <main>
        <header>
            <img src="images/pizza-guy.jpg" alt="Poppa">
            <h1>Papa's Pizza</h1>
            <p id="tagline">The best pizza GRC students have ever tasted!</p>
            <hr>
            <p>Poppa’s Pizza serves up fresh, handcrafted pizzas with 
                bold flavors and a warm, family-friendly vibe.</p>
        </header>
        <h1>Thank you for your order!</h1>
    <main>
</body>
</html>